* {
    outline: 1px solid red;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    /* overflow: hidden;  */
    font-family: 'PT Sans';
}

.bodydiv {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(254, 250, 239, 255);
}

.imgbackground {
    background-color: rgba(39, 53, 92, 255);
}

.card-body {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    background-image: url(/img/brainbg.jpg);
    background-position: center;
}

.card-title {
    font-family: 'PT Sans';
    font-weight: bold;
    font-size: 28px;
}

.card-text {
    font-family: 'PT Sans';
    font-size: 22px
}

/* .card-body-top{
    position:relative;
} */

.startbuttondiv {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 40px;
    right: 60px;
    background-color: rgba(255, 77, 17, 255) !important;
    align-items: center;
}

.startbutton {
    background-color: rgba(255, 77, 17, 255) !important;
    color: white !important;
    width: 200px;
    border: unset;
    font-weight: 400;
}

.chevron-right {
    height: 24px;
    width: 24px;
}

.whole-card {
    height: 40vh;
}

.logo-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.aside-span {
    color: white;
    font-family: 'Rubik';
    font-weight: lighter
}

.white-block {
    background-color: white;
    width: 4px;
    height: 24px;
    margin-bottom: 0;
}

.dino-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
}

.question-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    background-position: center;
    align-items: center;
    background-color: #f7f7f7;
    padding-bottom: 8px;
    padding-top: 8px;
}

.question {
    font-family: 'PT Sans';
    font-weight: bold;
    font-size: 18px;
    font-family: 'Rubik';
    font-weight: 600;
    text-align: center;
}

.answerblock {
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    font-family: 'Rubik';
    font-weight: 500;
    width: 75%;
    margin: 0;
}

.hoverAnswer:hover{
    background-color: #d6d6d6;
}

.answerblockGreen{
    background-color: #71e46d !important;
}

.answerblockRed{
    background-color: #ee3e3e !important;
}

.numberblock {
    background-color: #d6d6d6;
    width: 36px;
    height: 36px;
    text-align: center;
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answeroption {
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.playButtons{
    background-color: #d9dff2 !important;
    border: unset;
    color: black;

}

.playButtons:hover{
    cursor: pointer;
    background-color: #a7abb8 !important;
}

.buttonFigure{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    bottom: 0;
    margin-bottom: 0;
    margin-top: 16px;
    align-items: center;
}

.endscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f7f7f7;
    font-family: 'Rubik';
    position: relative;
}

.endtropy {
    position: absolute;
    right: 0;
    height: 40%;

}

.endbrain {
    width: 90px;
}

.score {
    color: #ec9048;
    font-weight: bold;
}

.endscreenbutton {
    border: none;
    background-color: #f7f7f7;
    color: #3c51c3 !important;
}

.endscreenbutton:hover {
    color: #f7f7f7 !important;
    background-color: #3c51c3 !important;
    ;
}

.footerclass {
    height: 35px;
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    align-items: center;
    gap: 15px;
    padding-left: 15px;
}

.footerlink {
    color: black;
    text-decoration: none;
}

.imprint{
    padding-left: 16px;
    padding-bottom: 32px;
}

.imprintbodydiv {
    display: flex;
    background-color: rgba(254, 250, 239, 255);
    padding-left: 16px;
    padding-right: 16px;
    padding-top:16px;
    flex-direction: column;
}

.datasafetybodydiv{
    background-color: rgba(254, 250, 239, 255);
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top:16px;
}

.h1datasafety{
    margin:0;
}

.backlinkdiv{
    display: flex;
    justify-content: flex-end;
    
}

.backlink{
    color: black;
    font-size: 30px;
    text-decoration: none;
    padding: 16px;
}

@media(max-width: 940px) {
    .whole-inner-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-div {
        width: 100% !important;
        flex-direction: row;
        justify-content: center;
    }

    .img-start-logo {
        margin-bottom: 1rem;
    }

    .card-body {
        width: 100% !important;
    }

    .startbutton {
        display: none;
    }

    .whole-card {
        height: 75% !important;
    }

    .endtropy {
        height: 20%;
    }
}

@media(max-width: 1200px) {
    .whole-card {
        width: 60% !important;
    }

}

@media(max-width: 800px) {
    .whole-card {
        width: 75% !important;
    }

}

@media(max-width: 650px) {
    .whole-card {
        height: 85% !important;
    }

    .logo-div {
        gap: 10px;
    }

    .footerclass{
        flex-direction: column;
        align-items: flex-end;
        height: unset;
    }
}


@media(max-width: 440px) {
    .endtropy {
        height: 10%;
        top: 200px;
    }

}