* {
    outline: 1px solid red;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    /* overflow: hidden;  */
    font-family: 'PT Sans';   
}

.bodydiv{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(254,250,239,255);
}

.imgbackground{
    background-color: rgba(39,53,92,255);
}

.card-body{
    display: flex;
    flex-direction: column;
    position:relative;
    justify-content: center;
    background-image: url(/img/brainbg.jpg);
    background-position: center;
}

.card-title{
    font-family: 'PT Sans';
    font-weight: bold;
    font-size: 28px;
}

.card-text{
    font-family: 'PT Sans';
    font-size: 22px
}

/* .card-body-top{
    position:relative;
} */

.startbuttondiv{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 40px;
    right: 60px;
    background-color: rgba(255,77,17,255) !important;
    align-items: center;
}

.startbutton{
    background-color: rgba(255,77,17,255) !important;
    color: white !important;
    width: 200px;
    border: unset;
    font-weight: 400;
}

.chevron-right{
    height: 24px;
    width: 24px;
}

.whole-card {
    height: 40vh;
}

.logo-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.aside-span{
    color: white;
    font-family: 'Rubik';
    font-weight:lighter
}

.white-block{
    background-color: white;
    width: 4px;
    height: 24px;
    margin-bottom: 0;
}

.dino-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
}

.question-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    background-position: center;
    align-items: center;
    background-color: #f7f7f7;
}

.question{
    font-family: 'PT Sans';
    font-weight: bold;
    font-size: 18px;
    font-family: 'Rubik';
    font-weight: 600;
    text-align: center;
}

.answerblock{
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    font-family: 'Rubik';
    font-weight: 500;
    width:75%;
    margin: 0;
}

.numberblock{
    background-color: #d6d6d6;
    width: 36px;
    height:36px;
    text-align: center;
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answeroption{
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.endscreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f7f7f7;
    font-family: 'Rubik';
}

.endbrain{
    width: 90px;
}

.score{
    color:#ec9048;
    font-weight: bold;
}

.endscreenbutton{
    border: none;
    background-color: #f7f7f7;
    color: #3c51c3 !important;
    }

.endscreenbutton:hover{
    color: #f7f7f7 !important;
    background-color: #3c51c3 !important;;
}

@media(max-width: 940px) {
    .whole-inner-card{
                display: flex;
                flex-direction: column;
                align-items: center;
    }

    .logo-div{
       width: 100% !important;
       flex-direction: row;
       justify-content: center;
    }

    .img-start-logo{
        margin-bottom:1rem;
    }

    .card-body{
        width: 100% !important;
    }
    .startbutton{
        display: none;
    }

    .whole-card{
        height:75% !important;
}
}

@media(max-width: 1200px) {
    .whole-card{
               width:60% !important;
    }

}

@media(max-width: 800px) {
    .whole-card{
               width:75% !important;
    }

}

@media(max-width: 650px) {
    .whole-card{
               height:85% !important;
    }

}