* {
    outline: 1px solid red;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    /* overflow: hidden;  */
    font-family: 'PT Sans';   
}

.bodydiv{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(254,250,239,255);
}

.imgbackground{
    background-color: rgba(39,53,92,255);
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}

.startbuttondiv{
    display: flex;
    justify-content: flex-end;
}

.whole-card {
    height: 50vh;
}

.logo-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.aside-span{
    color: white;
    font-family: 'Rubik';
    font-weight:lighter
}

.white-block{
    background-color: white;
    width: 4px;
    height: 24px;
}

.dino-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.startbutton{
    background-color: rgba(255,77,17,255) !important;
    color: white !important;
}